# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\中源宏一\base_code\test_backstage\online_hongyi\网络git后端\zhongkehoyi_bace\HGTP_server_test-all\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
