{% extends "base.html" %}
{% block content %}
       <style type="text/css">
table.zyhovertable {
    font-family:
    verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse:
    collapse;
}
table.zyhovertable th {
    background-color:#C3DDE0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.zyhovertable tr {
    background-color:#DCDCDC;
}

table.zyhovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
</style>


    <div id="fenye"   style="position: relative; left: 50px; top: 40px;">
    {% for i in  biaoqian %}

  <input type="button" class="fenye" value={{i}}  style="text-align:left;width:80px;high:40px">
       {% endfor %}
    </div>
            <table class="zyhovertable" style="text-align:left; margin-top:50px" id="table">
<tr>
<th width="5%"><label><input name="F" id="quanxuan" type="checkbox" value="全选" /> </label></th><th width="10%">脚本名</th><th width="10%">类名</th><th width="5%">所属仓库</th><th width="30%">备注</th><th width="30%">文件类型</th><th width="20%">运行顺序</th>
</tr>
            {% for i in  mulu %}
                <tr onmouseover="this.style.backgroundColor='#FFFF66';"onmouseout="this.style.backgroundColor='#DCDCDC';"><td><label><input name="Fruit" class={{i[0]}} type="checkbox" value={{i}} /> </label></td><td> {{i[0]}}</td><td> {{i[1]}}</td><td>{{i[2]}}</td><td>{{i[3]}}</td><td><label>自动化脚本</label></td>
               <td>
               <select style="width:80px;"    class="num"  name={{i[0]}}>
                  {%   for z in range(1,4) %}


                          {% if z==i[-1] %}
                                 <option value ={{ z }} selected="selected"  name={{i[0]}}>{{ z }}</option>
                          {% else %}
                                  <option value ={{ z }}  name={{i[0]}}>{{ z }}</option>
                          {% endif %}

                  {% endfor %}
                </select>
               </td>
                </tr>

<tr onmouseover="this.style.backgroundColor='#FFFF66';"onmouseout="this.style.backgroundColor='#DCDCDC';">
    {% endfor %}
</table>

</div></div>
<p><input type="button" id="resulte" value="运行"  disabled="disabled"  style="text-align: left; margin-top: 50px; position: relative; left: 170px;">   <input  style="text-align: left; margin-top: 50px; position: relative; left: 360px; z-index: 4;" type="button" href="http://www.baidu.com" id="bianji" value="查看运行结果" href="http://www.baidu.com" style="text-align: left; margin-top: 50px; position: relative; left: 360px; z-index: 4;"></p>

    <form action="/update" method="POST"     enctype="multipart/form-data">
       <select  name="biao_select"  style="width: 70px; position: relative; left: 150px;">
          {% for i in  biaoqian %}
  <option value ={{i}}>{{i}}</option>

        {% endfor %}
    <input type="file" name="file"     style="position: relative; left: 170px;"/>
        <input type="submit"  style="line-height: 1.5; position: relative; left: 170px;"  value="提交"  id="fileti" />
    </form>
<div id="time"  style="position: relative; left: 250px; top: -60px;"> 时<input type="text" id="shi" style="width:40px;"  />   分 <input type="text" id="fen" style="width:40px;"/>
        </div>
    </div>
</div>
<div id="souup"   style="position: absolute; left: 370px; top: 107px;">
<input type="text" id="sousuo" style="width:140px;"  />
<input type="submit"  style="line-height:1.5;"  value="搜索"  id="sousuoti" />
    </div>

<input type="submit" id="download" name="name" value="下载" style="margin-top: 50px; position: absolute; left: 610px; top: 228px;"  />
<div style="text-align:center;">
<p  id="jihua">{{time}}</p>
</div>
<form action="/yuansud" id="yuansudingwe"    method="POST" enctype="multipart/form-data">
<input type="submit" id="yuansudingwei" value="元素定位"    style="text-align: left; margin-top: 50px; position: relative; left: 170px; top: -50px;">
    </form>
     <link rel="stylesheet" href= {{url_for('static', filename='jquery-ui-1.12.1/jquery-ui.css')}}>

    <script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>
<script type="text/javascript" src={{url_for('static', filename='js/index.js')}}></script>
     <script type="text/javascript" src="{{url_for('static', filename='jquery-ui-1.12.1/jquery-ui.js')}}"></script>
    <script type="text/javascript"   src="{{url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>

<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
<script type=text/javascript>

        //绑定运行按钮，根据返回状态确定是否要可点击
    $(document).ready(function(){

         $.post($SCRIPT_ROOT + '/yunxing', {ame: $("#resulte").attr("disabled")},
                 function (data) {
                     if (data.statu==0)
                     {
                         $("#resulte").removeAttr("disabled");
                     }


                 }
         )
if ( $("#resulte").attr("disabled")=='disabled')
{
   var iCount =setInterval("timeorder()",10000);
}

});

                function  timeorder(){
          if ( $("#resulte").attr("disabled")!='disabled')
          {
               clearInterval(iCount);
          }

             $.post($SCRIPT_ROOT + '/yunxing', {ame: 'aa'},
                 function (data) {
                     if (data.statu==0)
                     {
                         $("#resulte").removeAttr("disabled");
                     }


                 }
         )

        }




    //绑定搜索按钮
     $('#sousuoti').click(function() {
         var sou = $('#sousuo').val();
         $.post($SCRIPT_ROOT + '/sousuo', {ame: sou},
                 function (data) {

                     window.location.reload();
                 }
         )
     }
     )

var offsetleft=$("#resulte").offset().left;
var offsettop=$("#resulte").offset().top;
    var topp=$("#logout").offset().top;
        $('select[class="num"]').css("background-color","BlanchedAlmond");
   $("#bianji").css({position: "relative",'left':360,'z-index':4});
$('[name="file"]').css({position: "relative  ",'left':170});
$('#yuansudingwei').css({position: "relative  ",'left':170,'top':-50});
$('#fileti').css({position: "relative  ",'left':170});
    $('#time').css({position: "relative  ",'left':250,'top':-60});
$('#jihua').css({position: "relative  ",'left':-100,'top':-1});
var checkbox=$('input[name="Fruit"]');

     $('#quanxuan').click(function () {
         if ($('#quanxuan').attr("checked")) {
             for (var i = 0; i < checkbox.length; i++) {
                 checkbox.eq(i).attr("checked", "checked");

             }

         }
                 else{
 for (var i = 0; i < checkbox.length; i++) {
                checkbox.eq(i).attr("checked", false);

             }
         }
     }
     )


//绑定运行按钮，传送脚本名称
var jiaoben="";
    $('#resulte').click(function() {


var shi=$("#shi").val();
                var fen=$("#fen").val();
                $('input[name="Fruit"]').each(function(i){

    if($(this).attr("checked")) {

     jiaoben=jiaoben+';'+checkbox.eq(i).attr("class" )

   }

});
$("#resulte").attr("disabled","disabled")

 $.post($SCRIPT_ROOT + '/add', {shi: shi,  fen: fen,jiaoben:jiaoben},
                function (data) {
                    if (data.result=='jihua')
                    {
                        window.location.reload()
                    }

                });
    }
    )

    //查看运行结果

     $('#bianji').click(function () {


                 window.open($SCRIPT_ROOT + '/result')
             }

     )
 $('[name="index"]').click(function() {

     $.post($SCRIPT_ROOT + '/laiba', {xiangmu: 'sss',  ame: "bianji"},
                function (data) {
                     $li1=$(data.data);
                    $('[class="right_con"]').html($li1);


                });


});

    //绑定下载按钮，执行下载操作

    $('#download').click(function() {

        $('input[name="Fruit"]:checked').each(function (i) {
                    var jiaoben = $(this).attr("class");
                    $.post($SCRIPT_ROOT + '/download', {name: jiaoben},
                            function (data) {

                                //window.location = $SCRIPT_ROOT + '/downloads' + '/' + data.root;

window.open($SCRIPT_ROOT + '/downloads' + '/' + data.root)
                            }
                    )
                }
        )
    })

//绑定分页标签，根据分页标签确定返回什么结果
$('input[class="fenye"]').each(function()
{
    $(this).click(function()
    {
         $.post($SCRIPT_ROOT + '/biao_data',{valu: $(this).attr('value')},
        function (data)
        {
           window.location.reload()
        }
        )

    })



})
//根据点击元素修改元素颜色
$(document).ready(function () {
    $.post($SCRIPT_ROOT + '/change_colour',{value:"33"},
            function (data) {

                $('input[class="fenye"]').each(function () {


                    if ($(this).attr("value")==data.fenye)
                    {
                   $(this).css("background-color","BlanchedAlmond");

                    }

                })


            }



    )

})


//绑定运行顺序下拉列表
$('select[class="num"]').each(function()
        {
            $(this).change(function()
            {
                 $.post($SCRIPT_ROOT + '/change_num',{num:$(this).attr("value"),name:$(this).attr("name")},
            function (data) {



                })


            })

        })
//设置运行顺序下拉列表默认值

</script>
{% endblock %}

