<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>bootstrap测试</title>

    <link href="static/hualala/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link hrel="stylesheet" href="static/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">

</head>

<body>



<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="button">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



    <input type="checkbox" name="my-checkbox" checked>

    <script src="static/hualala/vendor/jquery/jquery.min.js"></script>

    <script src="static/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
   <script src="static/hualala/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/hualala/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="static/hualala/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="static/hualala/dist/js/sb-admin-2.js"></script>
<script src="{{url_for('static', filename='layer-v3.0/layer/layer.js')}}">
<script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>

	<script src="{{url_for('static', filename='layer-v3.0/layer/layer.js')}}"></script>

    <script>
        $('#button').click(function()

            {

                $("#myModa2").modal();

            }

        )



    </script>

</body>

</html>