<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta name="author" content="Mobify">
<title>接口显示</title>
<link rel="stylesheet" href="/static/new/css/bellows.min.css">
<link rel="stylesheet" href="/static/new/css/bellows-theme.min.css">
<link rel="stylesheet" href="/static/new/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="-bellows">

<div class="viewport"  >
	<div class="main-content"  id="sunzhen">
		<h2 id="demo">接口信息</h2>
		<div class="bellows"  >
			<div class="bellows__item bellows--is-open">
				<div class="bellows__header">
					<h3  id="yun1">运行</h3>
				</div>
				<div class="bellows__content">
					 <pre  style="font-size:20px">输入</pre><br>
                    <br />
					<pre id="1"  style="font-size:16px">{{ a[0] }}</pre>
                    <br />
                    <pre   style="font-size:20px">输出</pre><br>
                    <br />
					<pre   id="2"   style="font-size:16px">{{ a[1] }}</pre>
                    <div id="bu">
                    <input type="button" id="bug"   class="bu"   value="推送bug"  style="position: relative;  left: -100px;">
                    <input type="button" id="tiaoshi" value="推送调试" class="bu"   style="position: relative;  left: -100px;">
                        <input type="button" id="log"   name="log"  value="查看日志" class="yunxing_log"   style="position: relative;  left: -100px;">
                        </div>

				</div>
			</div>
			<div class="bellows__item">
				<div class="bellows__header">
					<h3 id="bug1">报错{{ name }}</h3>
				</div>
				<div class="bellows__content">
					 <pre  style="font-size:20px">输入</pre><br>
                    <br />
					<pre id="3"  style="font-size:16px">{{ b[0] }}</pre>
                    <br />
                    <pre   style="font-size:20px">输出</pre><br>
                    <br />
					<pre id="4"  style="font-size:16px">{{ b[1] }}</pre>
                    <input type="button" id="logs"  name="log" value="查看日志" class="bug_log"   style="position: relative;  left: -100px;">
				</div>
			</div>
			<div class="bellows__item">
				<div class="bellows__header">
					<h3  id="tiao1">调试{{ name }}</h3>
				</div>
				<div class="bellows__content">
						 <pre  style="font-size:20px">输入</pre><br>
                    <br />
					<pre  id="5"  style="font-size:16px">{{ c[0] }}</pre>
                    <br />
                    <pre   style="font-size:20px">输出</pre><br>
                    <br />
					<pre   id="6"  style="font-size:16px">{{ c[1] }}</pre>
                    <input type="button" id="log"  name="log"  value="查看日志" class="tiaoshi_log"   style="position: relative;  left: -100px;">
				</div>
			</div>
		</div>
		<!-- JavaScript -->
        <script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>
		<script src="/static/new/js/jquery-1.10.1.min.js"></script>
		<script src="/static/new/js/highlight.pack.js"></script>
		<script src="/static/new/js/velocity.min.js"></script>
		<script src="/static/new/js/bellows.min.js"></script>
        <script src="/static/layer-v3.0/layer/layer.js"></script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
		<script>
		 $("#bu").css({position: "relative ",'left':300});
 $('input[class="bug_log"]').css({position: "relative ",'left':2});
 $('input[class="tiaoshi_log"]').css({position: "relative ",'left':2});

			$(function(){
			$('.bellows').bellows();
			 });
            $("#sunzhen").css({ height: "200px"});



//向后台推送消息
            $('input[class="bu"]').each(function () {
                $(this).click(function () {
       if ($(this).attr("id")=='bug')
                    {
                         $('#3').html($('#1').html());
                      $('#4').html($('#2').html());
                        $('#bug1').html("报错"+$('#yun1').html());
                    }


       else
       {
              $('#5').html($('#1').html());
                      $('#6').html($('#2').html());
           $('#tiao1').html("调试"+$('#yun1').html());
       }




        $.post($SCRIPT_ROOT + '/jie_gengxin', {shi: $(this).attr("id"),req:$('#1').html(),pon:$('#2').html(),name:$('#yun1').html()},
                 function(data)
                 {




    })




                })

            })

$('input[name="log"]').each(function()

        {

 $(this).click(function()
                    {
                         $.get($SCRIPT_ROOT + '/read_logs', {shi: $(this).attr("class"),name:$('#log').closest('.bellows__content-wrapper').prev().children('h3').html()},
                 function(data)
                 {


                      layer.open({
  type: 1,
                          title:'日志信息',
  area: ['1200px', '560px'],
  shadeClose: true, //点击遮罩关闭
  content: '\<\pre style="padding:20px;">'+data.data+'\<\/pre>'
  });


    })


                    }

            )



        }



)



		</script>
	</div>
</div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>
