<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta name="author" content="Mobify">
<title>调试信息</title>
<style type="text/css">
 #codeTextarea{width: 500px;height: 310px;}
.textAreaWithLines{font-family: courier;border: 1px solid #ddd;}
.textAreaWithLines textarea,.textAreaWithLines div{border: 0px;line-height: 120%;font-size: 12px;}
.lineObj{color: #666;}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="-bellows">

<form action="/jie_run" method="post"   name="jie_run"  id="jie_run"   >
<textarea  id="req"name="req_run"  cole="700"  row="500" style="width:500px;height:300px;"  spellcheck="false">{{ data }}</textarea >

    <input type="button" id="run"  name="run"  value="发送" class="tiaoshi_log"   style="position: relative; left: 50px; top: -150px;">
    <pre  id="pon"  name="pon" > </pre>
    <pre  id="rizhi"  name="rizhi" > </pre>
</form>
		<!-- JavaScript -->
        <script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>
		<script src="/static/new/js/jquery-1.10.1.min.js"></script>
		<script src="/static/new/js/highlight.pack.js"></script>
		<script src="/static/new/js/velocity.min.js"></script>
		<script src="/static/new/js/bellows.min.js"></script>
        <script src="/static/layer-v3.0/layer/layer.js"></script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
		<script>
            //增加行号js
var lineObjOffsetTop = 2;
function createTextAreaWithLines(id)
{
   var el = document.createElement('DIV');
   var ta = document.getElementById(id);
   ta.parentNode.insertBefore(el,ta);
   el.appendChild(ta);
   el.className='textAreaWithLines';
   el.style.width = (ta.offsetWidth + 30) + 'px';
   ta.style.position = 'absolute';
   ta.style.left = '30px';
   el.style.height = (ta.offsetHeight + 2) + 'px';
   el.style.overflow='hidden';
   el.style.position = 'relative';
   el.style.width = (ta.offsetWidth + 30) + 'px';
   var lineObj = document.createElement('DIV');
   lineObj.style.position = 'absolute';
   lineObj.style.top = lineObjOffsetTop + 'px';
   lineObj.style.left = '0px';
   lineObj.style.width = '27px';
   el.insertBefore(lineObj,ta);
   lineObj.style.textAlign = 'right';
   lineObj.className='lineObj';
   var string = '';
   for(var no=1;no<20;no++){
      if(string.length>0)string = string + '<br>';
      string = string + no;
    }
      ta.onkeydown = function() { positionLineObj(lineObj,ta); };
      ta.onmousedown = function() { positionLineObj(lineObj,ta); };
      ta.onscroll = function() { positionLineObj(lineObj,ta); };
      ta.onblur = function() { positionLineObj(lineObj,ta); };
      ta.onfocus = function() { positionLineObj(lineObj,ta); };
      ta.onmouseover = function() { positionLineObj(lineObj,ta); };
      lineObj.innerHTML = string;
   }
function positionLineObj(obj,ta)
{
      obj.style.top = (ta.scrollTop * -1 + lineObjOffsetTop) + 'px';
}


//正常js

            var top=$("#req").offset().top;
            var left=$("#run").offset().left;
 $("#pon").css({position: "absolute ","left":650,"top":0});
         $ ("#run").css({position: "absolute ","left":570,"top":139});
            $(document).ready(function()


{
createTextAreaWithLines('req');
$('#req').html($(window.parent.document).find('#1').html());
$('#run').click(function()

{
      var z=$(window.parent.document).find('div[class="layui-layer-title"]').html();
       $.post($SCRIPT_ROOT + '/jie_run',{shi: $('#req').val(),name:z},
                 function(data)
                 {
 $('pre[name="pon"]').html(data.a)
    })



    $.post($SCRIPT_ROOT+'/read_logs',{name:z,ip:'127.0.0.1'},
        function(data)
        {
          $('pre[name="rizhi"]').html(data.data)

        }
    )


}



)
}

)



		</script>
	</div>
</div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>
